@model MossadMVC.View_Models.ConnectPage1

@{
    ViewData["Title"] = "Page1";
}

<h1>Page1</h1>

<div>
    <h4>ConnectPage1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countAllAgants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countAllAgants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countActiveAgants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countActiveAgants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countAllTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countAllTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countKilledTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countKilledTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countAllMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countAllMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countActiveMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countActiveMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.relativeAgantTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.relativeAgantTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.relativeAgantMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.relativeAgantMissions)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
