@model IEnumerable<MossadMVC.Models.targetDetails>

@{
    ViewData["Title"] = "Page3";
}

<h1>targets</h1>

  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo_url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photo_url)
            </td>
            <td>
        
            </td>
        </tr>
}
    </tbody>
</table>
