@model MossadMVC.View_Models.ConnectPage1

@{
    ViewData["Title"] = "Page1";
}

<h1>Main </h1>

<div>
    <h4>ConnectPage1</h4>
  
 

<table class="table">
    <tr>
        <td>count all agants </td>
        <td>@Html.DisplayFor(model => model.countAllAgants)</td>
    </tr>
    <tr>
        <td> count active agants </td>
        <td>@Html.DisplayFor(model => model.countActiveAgants)</td>
    </tr>
    <tr>
        <td>count all targets </td>
        <td> @Html.DisplayFor(model => model.countAllTargets)</td>
    </tr>
    <tr>
        <td>count killed targets </td>
        <td> @Html.DisplayFor(model => model.countKilledTargets)</td>
    </tr>
    <tr>
        <td> count all missions    </td>
        <td>@Html.DisplayFor(model => model.countAllMissions)</td>
    </tr>
    <tr>
        <td>count active missions </td>
        <td>@Html.DisplayFor(model => model.countActiveMissions)</td>
    </tr>
    <tr>
        <td> relative agant to targets </td>
        <td>@Html.DisplayFor(model => model.relativeAgantTargets)</td>
    </tr>
    <tr>
        <td>relative potential agant to missions </td>
        <td>@Html.DisplayFor(model => model.relativeAgantMissions)</td>
    </tr>
</table>
<div>
    
  
</div>
